<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href={{ "/assets/css/layout.css" | relative_url }} />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src={{ "/assets/js/layout.js" | relative_url }}></script>

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
</head>

<body>
    <header>
        <nav class="navbar">
            <a id="home" href="{{ "/" | absolute_url }}"><i class="fa fa-home fa-2x"></i></a>
            <div style="flex-grow: 1;"></div>
            <a id="experiences" href="/experiences">Experiences</a>
            <a id="blog" href="/blog">Blog</a>
        </nav>
    </header>

    <div class="wrapper">
        <div id="profile">
            <img id="headshot" src="{{site.author.picture | relative_url}}" alt="Headshot" />
            <h1>{{ site.author.name }}</h1>
            <p>{{ site.author.position }}</p>
            <table>
                <tbody>
                    <tr>
                        <td class="icon"><i id="location" class="fa fa-map-marker fa-1.5x"></i></td>
                        <td>San Francisco Bay Area</td>
                    </tr>
                    <tr>
                        <td class="icon"><i id="education" class="fa fa-university fa-1.5x"></i></td>
                        <td>Carnegie Mellon University</td>
                    </tr>
                </tbody>
            </table>
        </div>
